
<div class="container"><div class="row">
  <div class="col-lg-10">
  <table class="table table-striped table-bordered table-condensed">
    <thead>
      <tr>
        <th>Type/Identifier</th>
        <th>Description</th>
        <th>Mac</th>
        <th>Ports</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="np in npData">
        <td>{{np.node['@type']}}/{{np.node['@id']}}</td>
        <td>{{np.properties.description.value}}</td>
        <td>{{np.properties.macAddress.value}}</td>
        <td>
          <!-- move this to a child state?-->
            <span ng-repeat="npc in ncpData[np.node['@id']]">
              {{npc.properties.name.value}}
              <state-icon value="{{npc.properties.state.value}}"></state-icon>
              <port-state value="{{npc.properties.state.value}}"></port-state>
              <br/>
            </span>
        </td>
      </tr>
    </tbody>
  </table>

  Displaying: {{npData.length}}

  </div>
  {{node}}
</div></div>