<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="well well-sm">
        <ul class="nav nav-pills nav-stacked">
          <li ng-class="{ active: $state.includes('flows.list') }"><a ui-sref="flows.list()">List</a></li>
          <li ng-class="{ active: $state.includes('flows.create') }"><a ui-sref="flows.create()">Create</a></li>
        </ul>

        <!-- For child state use-->
        <div ui-view="submenu"></div>
      </div>
    </div>

    <div ui-view></div>
  </div>
</div>